[submodule "Libs/macruby-keychain-wrapper"]
	path = Libs/macruby-keychain-wrapper
	url = git://github.com/ashchan/macruby-keychain-wrapper.git
[submodule "Libs/NSAppLoginItems"]
	path = Libs/NSAppLoginItems
	url = https://github.com/kainjow/NSAppLoginItems.git
